* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

                              
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.wrapper {
    height: 100vh;
    border-radius: 8px;
}

.header,
.sidebar,
.main-content {
    border-radius: 8px;
}

/* grid */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    background-color: rgb(217, 217, 217);
}

.header {
    grid-column: 2 / -1;
    background-color: white;
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    font-size: 1.8em;
    grid-template-rows: 1.5fr repeat(2, 4fr);
    justify-content: center;
    background-color: #4DEBD8;
    padding: 4vh;
}

/* sidebar */


ul {
    list-style-type: none;
    margin-bottom: 4rem;
    font-size: 1rem;
    font-weight: 540;
}

ul li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: start;
}



/* header */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search-bar {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 2fr;
    align-items: center;
    justify-items: center;

}

.search-bar div,
.username,
.buttons {
    display: inline;
}

/* main content */

.main-content .projects,
.main-content .announcement,
.main-content .trending,
.main-content .container,
.container div {
    border-radius: 8px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.projects .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 25%);
    gap: 1.5rem;
    height: 90%;
}

.projects .card {
    background-color: white;
    border-left: 8px solid #EB4DE1;
}

.announcement .container {
    display: grid;
    height: 90%;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
}

.trending .container {
    display: grid;
    height: 90%;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
}

/* icon styling */

.sidebar ul img {
    height: 2rem;
    width: 2rem;
}



.logo p {
    display: inline;
    
}

div.logo img {
    position: relative;
    height: 60px;
    display: inline;
    left: -20px;
}


div.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.header img {
    height: 1.8rem;
    width: 1.8rem;
    align-self: center;
    justify-self: end;
}

.main-content img {
    height: 2rem;
}

label[for="search"] {
    display: inline;
    width: 2rem;

    
}

input[type="search"] {
    border: 0;
    background-color: rgb(215, 226, 227);
    border-radius: 40px;
    justify-self: stretch;
    align-self: stretch;
    margin: 1rem;
    height: 2rem;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    gap: 16px;
}

.header button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.user-info button {
    background-color: #4DEBD8;
    height: 2.2rem;
    width: 4.4rem;
    border-radius: 36px;
    margin-right: 0.5rem;
    padding: 8px;
}

button {
    cursor: pointer;
}

.search-bar div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 16px;
    align-items: center;
    font-weight: 570;
}

.search-bar div img {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50px;
}

.user-info img {
    height: 3rem;
    width: 3rem;
    align-self: center;
    border-radius: 50px;
}

.header span {
    display: block;
}

.username {
    font-size: 1.8rem;
    font-weight: 600;
}

.username span {
    font-size: 1rem;
    font-weight: 500;
}

.title {
    margin-bottom: 8px;
    font-weight: 550;
}

.projects .card {
    font-size: 0.7rem;
    height: 110%;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.projects button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.button-wrapper {
    justify-self: end;
}

.button-wrapper img {
    height: 1.2rem;
}

.projects h4 {
    font-size: 0.9rem;
}

.announcement .container{
    padding: 0.5rem;
    font-size: 0.6rem;
}

.announcement h5 {
    font-size: 0.7rem;
}

.trending img {
    height: 2rem;
    width: 2rem;
    border-radius: 25px;
}

.trending {
    font-size: 0.8rem;
}

.trending .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0.5rem;
    justify-items: start;
}

.trending img {
    grid-row: 1 / -1;
}

.trending p,
.trending h5 {
    justify-self: start;
}

.trending .container {
    padding: 0 0.8rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
}

div {
    color: #6B6759;
}

.sidebar,
.sidebar p {
    color: #343434;
}

.projects h4,
h5 {
    color: black;
}