* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

                              
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.wrapper {
    border: 4px solid blue;
    height: 100vh;
    border-radius: 8px;
}

.header,
.sidebar,
.main-content {
    border: 4px solid blue;
    border-radius: 8px;
}

/* grid */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    background-color: rgb(217, 217, 217);
}

.header {
    grid-column: 2 / -1;
    background-color: white;
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    font-size: 1.8em;
    grid-template-rows: 1fr repeat(2, 4fr);
    justify-content: center;
    background-color: #4DEBD8;
    padding: 4vh;
}

/* sidebar */

ul {
    list-style-type: none;
}

/* header */

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.search-bar {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 8fr 1fr 2fr;
}

.search-bar div,
.username,
.buttons {
    display: inline;
}

.user-info {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.user-info button {
    background-color: #4DEBD8;
}

/* main content */

.main-content .projects,
.main-content .announcement,
.main-content .trending,
.main-content .container,
.container div {
    border: 4px solid blue;
    border-radius: 8px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.projects .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 90%;
    background-color: white;
}

.announcement .container {
    display: grid;
    height: 90%;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
}

.trending .container {
    display: grid;
    height: 90%;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
}