* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    border: 4px solid blue;
    height: 100vh;
    border-radius: 8px;
}

.header,
.sidebar,
.main-content {
    border: 4px solid blue;
    border-radius: 8px;
    background-color: rgb(116, 116, 214);
}

/* grid */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / -1;
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    font-size: 1.8em;
    grid-template-rows: 1fr repeat(2, 4fr);
    justify-content: center;
}

/* sidebar */

ul {
    list-style-type: none;
}

